.container {
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    background-color: #FCC8D1;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-container {
    flex: 1;
    padding: 20px;
}

h2 {
    color: #D14D72;
    margin-top: 0;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    color: #D14D72;
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #D14D72;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 15px;
}

button {
    background-color: #D14D72;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #FFABAB;
}

.back-button{
    padding: 30px;
}

.back-link {
    background-color: #D14D72;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

.back-link:hover {
    background-color: #FFABAB;
}